.dep.inc
*.swp
.directory
*.original
*.dia~

/leitmem_app/dist/
/leitmem_app/build/
/leitmem_app/nbproject/private
/leitmem_app/nbproject/project.properties

/leitmem_lib/dist/
/leitmem_lib/build/
/leitmem_lib/nbproject/private
/leitmem_lib/nbproject/project.properties

/leitmem_tests/dist/
/leitmem_tests/build/
/leitmem_tests/nbproject/private
/leitmem_tests/nbproject/project.properties
